On-Boarding Workflow.json
{
  "name": "On-Boarding Workflow level 1",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// City selected in the Google Form\nconst selectedCity = $('First Node').last().json.City;\n\nconst form_filler = $('First Node').last().json['Email']\n\n// Employees sheet\nconst employees = $items(\"List\");\n\n// Threshold sheet\nconst thresholds = $items(\"Threshold\");\n\n// Count employees in selected city\nconst employeeCount = employees.filter(employee =>\n  employee.json.City === selectedCity\n).length;\n\n// Find threshold for selected city\nconst cityThresholdRow = thresholds.find(threshold =>\n  threshold.json.City === selectedCity\n);\n\nconst threshold = cityThresholdRow\n  ? Number(cityThresholdRow.json.Threshold)\n  : 0;\n\n// Compare\nconst capacityAvailable = employeeCount < threshold;\n\nconst formData = $('First Node').last().json;\n\n\nreturn [{\n  ...formData,\n  city: selectedCity,\n  currentEmployees: employeeCount,\n  threshold,\n  availableSpots: threshold - employeeCount,\n  capacityAvailable,\n  form_filler\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        16
      ],
      "id": "34161389-efee-46ac-9a78-203f8d83d411",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w",
          "mode": "list",
          "cachedResultName": "Employees List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        16
      ],
      "id": "017d3dd5-de1c-40ad-b207-5a941b6034e8",
      "name": "List",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VKyFfaqQkmtOKWAH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w",
          "mode": "list",
          "cachedResultName": "Employees List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 939341865,
          "mode": "list",
          "cachedResultName": "Threshold",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KOxPxy31_gyH3EE4BXejDmajV8gmq4nkXLOCUuqX_-w/edit#gid=939341865"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        192,
        16
      ],
      "id": "0ebd3c94-99cd-40bf-9e49-32bb1b947c1b",
      "name": "Threshold",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VKyFfaqQkmtOKWAH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d61df883-65b6-42d7-8a06-7c4f48075b3e",
              "leftValue": "={{ $json.capacityAvailable }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        272
      ],
      "id": "d1b02788-535d-4b4d-ad39-045a292231e7",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=On boarding for {{ $json['Type of Contract'] }} Contract",
        "emailType": "text",
        "message": "=This is an automated message for you {{ $json.Name }} being sent to you. You'll find an questionaire attached to this email. \n\nFill it all the necessary information and reply it back to the email. \n\nDownload it from here: https://drive.google.com/file/d/1c1p-AV3hmUaZ395nCSWqcgzTzKpBMUyB/view?usp=sharing\n\nTo confirm the information \nyou are currently applying for {{ $json.City }}\nfor {{ $json['Type of Contract'] }} contract.\n\nWe have {{ $json.availableSpots }} right now in  so, you can recommend someone if you'd like.\n\nif you find anything confusing email on support@on-boarding.gmail.com\n\nThank you.\n\nKind regard, \nOn-boarding Process ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        272
      ],
      "id": "5dacb6c2-0ae9-447d-b309-5237dfb15a0f",
      "name": "Send a message",
      "webhookId": "ae5630d7-1bac-47a8-b762-db3f3224ed68",
      "credentials": {
        "gmailOAuth2": {
          "id": "08zNOxwX9CEzx11T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "We are Really Sorry",
        "emailType": "text",
        "message": "=Hello, {{ $json.Name }}\n\nCurrently we are full in  however, if are adding you in our queue when we have opeings we'll for sure contact you. \n\nThank you and have a good day\n\nKind regard, \non-boarding Process",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        48,
        464
      ],
      "id": "1ba82224-d3e5-40c2-894c-1328be87ea11",
      "name": "Send a message1",
      "webhookId": "f63f5be7-583f-4ab0-abce-f1b2d5265722",
      "credentials": {
        "gmailOAuth2": {
          "id": "08zNOxwX9CEzx11T",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18j-eN0Q6WVugWWKVaXZkGe1EO6CmGNy4bOHnzJvFiJ8",
          "mode": "list",
          "cachedResultName": "Employees_Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18j-eN0Q6WVugWWKVaXZkGe1EO6CmGNy4bOHnzJvFiJ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18j-eN0Q6WVugWWKVaXZkGe1EO6CmGNy4bOHnzJvFiJ8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contract ": "={{ $('If').item.json['Type of Contract'] }}",
            "Name": "={{ $('If').item.json.Name }}",
            "City": "={{ $('If').item.json.city }}",
            "Contacted": "={{ $('If').item.json.Timestamp }}",
            "email": "={{ $('If').item.json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contacted",
              "displayName": "Contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contract ",
              "displayName": "Contract ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        464
      ],
      "id": "00da220f-7c89-4cbe-8a08-28ef5377b21f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VKyFfaqQkmtOKWAH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1IwtdoiY5jYYp8Nn1WB5P7lOwLtfrhaKHbw15z63n0uI",
          "mode": "list",
          "cachedResultName": "Form Fillers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwtdoiY5jYYp8Nn1WB5P7lOwLtfrhaKHbw15z63n0uI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 699258837,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IwtdoiY5jYYp8Nn1WB5P7lOwLtfrhaKHbw15z63n0uI/edit#gid=699258837"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        16
      ],
      "id": "25ebb664-2865-46aa-98e6-c4c220321af6",
      "name": "First Node",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "bfPuERL31KV8Q8AD",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1f0ZUYRwEkgx0qwuFCuQK6_ovGJwHe9bp69WDFelrmoQ",
          "mode": "list",
          "cachedResultName": "Sent_questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0ZUYRwEkgx0qwuFCuQK6_ovGJwHe9bp69WDFelrmoQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1f0ZUYRwEkgx0qwuFCuQK6_ovGJwHe9bp69WDFelrmoQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('If').item.json.Email }}",
            "name": "={{ $('If').item.json.Name }}",
            "city": "={{ $('If').item.json.city }}",
            "contract type": "={{ $('If').item.json['Type of Contract'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contract type",
              "displayName": "contract type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        272
      ],
      "id": "a5a43157-53c4-4f4d-905d-0a355daa054e",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VKyFfaqQkmtOKWAH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "List": {
      "main": [
        [
          {
            "node": "Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Threshold": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "First Node": {
      "main": [
        [
          {
            "node": "List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "afddf4f3-a9ad-43b2-8a28-c20fd543105e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "nodeGroups": [],
  "id": "wwAeuMQprV0jLocc",
  "tags": []
}
